#root {

}

.navbar--container{
  border: solid 1px white;
  text-align: center;
}

.navbar--text {
  
}

.hero--container {
  padding: 10px;
  margin: 30px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 50px;
}

.hero--card {
  padding: 20px 10px 10px 10px;
  /* border: 1px solid white; */
  min-height: auto; 
  text-align: center;
}

.hero--card h3 {
  padding-top: 10px;
}