#root {
}

body {
  margin: 0px;

}

.navbar--container{
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  height: 70px;
  width: 100%; /* Full width */
  background-color: #000000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 0px;
  display: grid;
  grid-template-columns: 100px auto auto;
  align-items: center;
}


.navbar--buttons {
  display: grid;
  grid-auto-flow: column; /* Place buttons in a row */
  grid-gap: 10px; /* Gap between buttons */
  justify-self: end; /* Align the button group to the end */
  margin-right: 20px;
}

.navbar--buttons button {
  font-family: "FF Mark W05", Arial, sans-serif;
  font-size: 14px; 
  font-weight: bold;
  line-height: 1.5;
  margin-left: 10px; 

  padding: 0.5em 1em; /* Example padding, adjust as needed */
  border: none; /* Removes the border, if you want */
  background: transparent; /* Makes the background transparent, adjust as needed */
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
  background-color: #000000;
  transition: border-color 0.25s;

}
.navbar--buttons button:hover{
  background-color: #FD4556;
  border: #FD4556;
  transition: background-color 0.25s, color 0.25s;
}


.navbar--text {
  justify-self: start;
  margin-left: 20px;
  letter-spacing: 2px;

}
.navbar--logo {
  height: 50px; /* or the height of your navbar */
  width: auto; /* to maintain the aspect ratio */
  margin-left: 20px;
  margin-right: 20px; /* adjust the spacing between the logo and the navbar title */
  align-self: center; 
}

.hero--container {
  padding: 10px;
  margin: 30px 150px 30px 150px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 30px;
}

.hero--card {
  padding: 20px 10px 10px 10px;
  margin-top: 70px;
  border-radius: 5%;
  /* border: 1px solid white; */
  min-height: auto; 
  text-align: center;
  background-color: hsla(0, 5%, 85%, 0.361);
  
  
}

.hero--card:hover {
  background-color: hsla(47, 11%, 84%, 0.853);
  transition: background-color 0.25s, color 0.25s;
}

.hero--card h3 {
  padding-top: 10px;
  color: #000000;
}

.hero--teamlogo {
  max-width: 80%; /* Adjust the percentage as needed */
  height: auto; /* Keep the aspect ratio */
  margin-top: 10px;
  margin-bottom: 10px; /* Space between the logo and the team name */
}

.hero--chooseTeam {
  margin-top: 100px;
}

select {

  font-size: 14px;
  padding: 0.5em 1em; /* Spacing inside the select box */
  background-color: #000000; /* Background color */
  color: white; /* Text color */
  border: none; /* Removes default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Changes cursor to pointer on hover */
  outline: none; /* Removes the default focus outline */
  margin-left: 10px; /* Consistent spacing with other elements */
  transition: background-color 0.25s, color 0.25s; /* Smooth transition for hover effects */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Style for the select element on hover */
select:hover {
  background-color: #FD4556; /* Hover background color */
}

/* Style for the select element when focused */
select:focus {
  background-color: #FD4556; /* Focus background color, can be different if needed */
}

/* Optionally, style the option elements as well */
option {
  background-color: #000000; /* Background color of options */
  color: white; /* Text color of options */
}

.loading-icon {
  border: 5px solid #f3f3f3; /* Light grey background */
  border-top: 5px solid #FD4556; /* Red color for the spinner */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;

  position: absolute; /* or fixed if you want to center in the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}